/* styles.css */
.app-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.app-section {
  width: 45%;
  border: 1px solid #ccc;
  padding: 20px;
}

.pizza-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.order-ready {
  background-color: #ff9999; /* Red highlighting for orders ready for more than 3 min */
}
.order-card.overdue {
  background-color: #ff9999; /* Red background for overdue orders */
}